*{
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
}

body {
   background: #FFF5E2;
   font-family: 'Lato', sans-serif;
}

#container {
   position: relative;
   width: 50vw;
   height: 100vh;
   margin: 0 auto;
   background: white;
}
/* -------------------------------------------------- */
/* Inizio Common */
.clearfix::after {
   content: "";
   clear: both;
   display: table;
 }
/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Header */

h1 {
   font-size: 3em;
}
.name_burger {
   width: 70%;
   height: 40px;
   margin: 100px 0px 30px 80px;
}

#Your-Burger {
   width: 70%;
   height: 50px;
   color: grey;
   font-size: 2em;
   outline: none;
   border: 0px;
}


h2 {
   margin: 10px 0px 10px 80px;
}

.box-top {
   width: 100%;
   height: 150px;
   background-color: #FDBB40;
   position: relative;
}

.title {
   position: absolute;
   top: 70px;
   left: 80px;
}

.hamburger {
   position: absolute;
   top: -30px;
   left: 100%;
   transform: translate(-50%);
}

/* Fine Header */
/* -------------------------------------------------- */
/* Inizio Main */
input {
   width: 20px;
   height: 20px;
}

.ingredient {
   display: flex;
}

.new-checkbox {
   position: absolute;
   opacity: 0;
 }

 .new-checkbox + label {
   position: relative;
   cursor: pointer;
   padding: 0;
 }

 .new-checkbox + label:before {
   content: '';
   margin-right: 10px;
   display: inline-block;
   vertical-align: text-top;
   width: 20px;
   height: 20px;
   background: #D33359;
   border-radius:3px;
 }

 .new-checkbox:hover + label:before {
   background: #FDBB40;
 }

 .new-checkbox:checked + label:before {
   background: #D33359;
 }

 .new-checkbox:checked + label:after {
   content: '\f00c';
   font-family:'Font Awesome 5 Free';
   font-weight:900;
   font-size: 26px;
   color: black;
   position: absolute;
   left: -4px;
   top: -4px;
 }
 
.wrapper {
   width: 70%;
   margin: 30px 0px 30px 80px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.box {
   width: 35%;
   height: 90px;
   display: flex;
   flex-direction: row;
   padding: 15px;
}

.image img {
   height: 100%;
}

.select {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.select p {
   margin: 0px 20px;
}

.ingredient {
   margin-left: 10px;
}

.coupon {
   display: flex;
   flex-direction: row;
   margin: 50px 0px 10px 80px;
}

#cod {
   width: 60%;
   height: 30px;
   margin-left: 20px;
   border-radius: 5px;
   background-color: #FFF5E2;
   outline: none;
   border: 0px;
   padding-left: 5px;
}

#calculate {
   width: 200px;
   height: 70px;
   border-radius: 10px;
   margin: auto;
   text-align: center;
   margin-top: 50px;
   background-color: #FDBB40;
   display: flex;
   align-items: center;
}

.calc {
   margin: 0 auto;
   text-align: center;
   border: 0px;
   background-color: #FDBB40;
   color: black;
   font-size: 25px;
   font-weight: 700;
}
/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */
.container-price {
   position: absolute;
   bottom: 0px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 100px;
   background-color: #D33359;
}

.your-price {
   margin-left: 80px;
   font-size: 2em;
   color: white;
}

.price {
   margin-right: 80px;
   font-size: 2em;
   font-weight: 900;
   color: white;
}


/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */
